<div class="loading" *ngIf="!posts">
	Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="posts">
	<h1>{{page_title}}</h1>
	<hr>

	<div class="card-columns">
		<article class="card w-100" *ngFor="let post of posts">
			<div class=card-header>
				<h3>
				<a [routerLink]= "['/entrada', post.id]">{{post.title}}</a>
				</h3>
			</div>

			<div class="card-body">
				<!-- imagen -->
				<div class="w-100" *ngIf="post.image">
					<img src="{{ url + 'posts/image/' + post.image }}" class="post-image w-100"/>
				</div>

				<div class="w-100" *ngIf="!post.image">
					<img src="assets/images/noImage.jpg" class="post-image w-100"/>
				</div>
				
				<!-- botones de accion -->
				<div class="post-buttons mt-3">
					<a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>

					<span *ngIf="identity && identity.sub == post.user_id">
						<a [routerLink]="['/inicio']" class="btn btn-warning mr-2">Editar</a>
						<a [routerLink]="['/inicio']" class="btn btn-danger">Borrar</a>
					</span>
					
				</div>
			</div>
		</article>
	</div>
</div>
